In [1]:
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, text
from flask import Flask, jsonify
from pathlib import Path

In [2]:
csv_path=Path("NWSS_Public_SARS-CoV-2_Wastewater_Metric_Data.csv")

In [4]:
waste_water_df=pd.read_csv(csv_path)
waste_water_df.head(100)

   wwtp_jurisdiction  date_start    date_end  percentile
0            Indiana  2022-06-13  2022-06-27      95.000
1            Indiana  2022-06-14  2022-06-28      80.000
2            Indiana  2022-06-15  2022-06-29      80.000
3            Indiana  2022-06-16  2022-06-30      80.000
4            Indiana  2022-06-17  2022-07-01      80.000
..               ...         ...         ...         ...
95           Indiana  2022-09-16  2022-09-30      51.667
96           Indiana  2022-09-17  2022-10-01      51.667
97           Indiana  2022-09-18  2022-10-02      38.667
98           Indiana  2022-09-19  2022-10-03      38.667
99           Indiana  2022-09-20  2022-10-04      41.000

[100 rows x 4 columns]

In [7]:
engine=create_engine(f'sqlite:///seward.sqlite',echo=False)
session= Session(bind=engine)

In [9]:
waste_water_df.to_sql(name = 'seward', con = engine)

815237

In [10]:
insp = inspect(engine)
response = insp.get_table_names()
for table in response:
    print(f'{table} - - - - - - - - - - - - - - - - - - - - - -')
    cols = insp.get_columns(table)
    for col in cols:
        print(f'{col["name"]} - {col["type"]}')

seward - - - - - - - - - - - - - - - - - - - - - -
index - BIGINT
wwtp_jurisdiction - TEXT
date_start - TEXT
date_end - TEXT
percentile - FLOAT

In [15]:
#Base = automap_base()

#Base.prepare(autoload_with=engine)


#seward=Base.classes.
#print(seward)

AttributeError: waste_water_df